@import 'assets/style/_colors.scss';

.list-container {
	width: 100%;
	margin: auto;
	background-color: white;
	padding-bottom: 30px;
}

.list-box {
	margin: auto;
	width: 80%;
	border: 2px solid $main-color-green;
	border-radius: 20px;
	padding: 5%;
	margin-bottom: 10%;
	font-size: 14px;

	&:hover {
		cursor: pointer;
		.group-name {
			text-decoration: underline;
		}
	}

	.top-row {
		margin-bottom: 4%;

		.group-name {
			font-weight: 500;
			font-size: 14px;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}

		.meeting-type {
			font-size: 10px;
			color: #888;
		}
	}

	.middle-row,
	.bottom-row {
		gap: 6%;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 2%;
		color: #545454;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.info-label {
		font-weight: 600;
		margin-right: 5%;
	}
}
