@import 'assets/style/_colors.scss';

.list-container {
	width: 100%;
	margin: auto;
	background-color: white;
}

.list {
	align-self: flex-start;
	align-items: flex-start;
	.first-col {
		width: 100px;
	}

	.second-col {
		width: 200px;
		.second-col-category {
			align-items: flex-start;
		}
		.button2 {
			width: 120px;
		}
	}

	.info-label {
		white-space: nowrap;
	}
}
.list-box {
	height: 100px;
	margin: auto;
	width: 78%;
	border: 1.5px solid $main-color-dark-green;
	border-radius: 20px;
	padding: 5%;
	margin-bottom: 8%;

	&:hover {
		background-color: #f6ffed;
		cursor: pointer;
	}

	.top-row {
		margin-bottom: 3%;
		height: 16px;
		.meeting-type {
			color: #888;
		}
	}

	.middle-row,
	.bottom-row {
		gap: 7%;
		font-weight: 400;
		margin: 0.5% 0;
		color: #545454;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.info-label {
		margin-right: 5px;
	}
}
