@import 'assets/style/_colors.scss';

.header-wrapper {
	background-color: $main-color-green;
	min-height: 140px;
}

.header-item {
	gap: 16px;
}

.title-name {
	color: #f1ffe2;
}

.my-page-wrapper {
	.header-wrapper {
		font-size: 24px;
		min-height: 80px;
	}
}
