.common-goal-section {
	gap: 1rem;
	// margin: 0 5%;
}

// 전체 공통 목표 목록
.goal-card {
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	padding: 1rem;
	background-color: #fff;
	margin: 3% 8% 0 8%;
}

.goal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.8rem;

	.goal-main {
		display: flex;
		align-items: center;
		font-size: 1.1rem;
		font-weight: bold;
		cursor: pointer;

		.toggle-icon {
			margin-right: 0.5rem;
		}

		.add-button {
			margin-left: 0.5rem;
			font-size: 1.2rem;
			color: #888;
			background: none;
			border: none;
			cursor: pointer;

			&:hover {
				color: #333;
			}
		}
	}
}

.subgoal-list {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	margin-top: 0.5rem;
}

.subgoal-item,
.subgoal-empty {
	padding: 0.3rem 0.2rem;
	margin-left: 25px;
}

// 수정 모드
.goal-form {
	gap: 0.5rem;
	margin: 0 5%;
	padding: 4%;
	border-radius: 5px;
}

// 대범주, 소범주 input
.main-category-input,
.subgoal-input {
	resize: none;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding: 0.5rem;
	font-size: 14px;
	width: 100%;
	height: 35px;

	line-height: 1.4;
	// min-height: 2.2rem;
	// max-height: 5rem;
	overflow-y: auto;
	// box-sizing: border-box;

	&:focus {
		border-color: #888;
	}
}

.subgoal-input {
	font-size: 12px;
}

// 대범주 입력 그룹
.main-category-wrapper {
	position: relative;
	gap: 0.5rem;
	flex-wrap: wrap;

	.remove-main-button {
		position: absolute;
		right: 0.8rem;
		font-size: 18px;
		border: none;
		background: none;
		color: #ff4d4f;
		cursor: pointer;

		&:hover {
			opacity: 0.6;
		}

		&:disabled {
			color: #ccc;
			cursor: not-allowed;
		}
	}
}

// 소범주 입력 그룹
.subgoal-input-group {
	gap: 0.5rem;
	margin-left: 20px;
	position: relative;
	flex-wrap: wrap;

	.add-subgoal-button {
		position: absolute;
		right: 0.8rem;
		font-size: 18px;
		border: none;
		background: none;
		color: rgb(164, 164, 164);
		cursor: pointer;

		&:hover {
			opacity: 0.6;
		}
	}

	.subgoal-plus-button {
		color: #3cb371;
	}

	.subgoal-minus-button {
		color: #ff4d4f;
	}
}

// +, - 버튼
.add-subgoal-button,
.remove-main-button {
	width: 2rem; // 고정 너비
	height: 2rem; // 고정 높이
}

// 하단 버튼
.goal-footer {
	display: flex;
	justify-content: center;
	margin: 1rem auto;
	gap: 25px;

	.goal-edit-button {
		background-color: #b6e7b6;
		color: #333;
		border: none;
		padding: 0.5rem 1.5rem;
		border-radius: 8px;
		cursor: pointer;
		font-weight: bold;
		transition: 0.3s;

		&:hover {
			background-color: #a4d7a4;
		}
	}

	.goal-cancel-button {
		background-color: #dbdbdb;
		color: #333;
		border: none;
		padding: 0.5rem 1.5rem;
		border-radius: 8px;
		cursor: pointer;
		font-weight: bold;
		transition: 0.3s;

		&:hover {
			background-color: #c1c1c1;
		}
	}
}

.empty-message {
	color: #999;
	text-align: center;
	margin: 2rem 0;
}

// 대범주 추가 버튼
.add-main-button {
	text-align: center;
	color: #aaa;
	background: none;
	border: none;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		color: #444;
	}
}

// 토글 이미지
.toggle-icon-img {
	width: 15px;
	height: 15px;
	margin-right: 6px;
	vertical-align: middle;
}
