@import 'assets/style/_colors.scss';

.searchbar {
	background-color: $main-color-green;
}

.searchbar-wrapper {
	border-radius: 50px 50px 0 0;
	padding: 35px 0 0 0;
	background-color: white;

	.searchbar-icon {
		width: 22px;
		height: 22px;
		margin-right: 3px;
		cursor: pointer;
		color: $main-color-deep-green;
	}

	.searchbar-container {
		border: 1.5px solid $main-color-deep-green;
		border-radius: 20px;
		padding: 9px 17px;
		width: 78%;
		max-width: 400px;
		background-color: white;
	}

	svg {
		color: $main-color-deep-green;
		width: 20px;
		height: 20px;
	}

	input {
		margin-left: 0.5rem;
		width: 100%;
		border: none;
		background: transparent;
		outline: none;
		color: #333;

		&::placeholder {
			color: #ccc;
		}
	}
}
