$main-color-green: #acee64;
$main-color-light-green: #d0ea85;
$main-color-dark-green: #9fe158;
$main-color-deep-green: #90cf4d;

$sub-color-green: #90c954;
$sub-color-dark-green: #679634;
$sub-color-deep-green: #587f2e;
