// 페이지 제목 명
.heading1 {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}

//
.heading2 {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}

//
.heading3 {
	font-size: 20px;
	line-height: 24px;
}
