@import 'assets/style/_colors.scss';

.nav-bar {
	padding: 0 20px;
	position: fixed;
	bottom: 0;
	width: 390px;
	height: 60px;
	background-color: white;
	border-top: 1px solid #e0e0e0;
	z-index: 1000;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
	justify-content: space-around;
	button {
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.plus-button {
	position: relative;
	top: -15px;
	width: 53px;
	height: 53px;
	border-radius: 50%;
	border: 2px solid $main-color-green !important;
	background-color: rgb(255, 255, 255) !important;
	cursor: pointer;

	svg {
		width: 28px;
		height: 28px;
		color: $main-color-dark-green;
	}
}
