@import 'assets/style/_colors.scss';

.group-checklist {
	background-color: white;
	padding: 10% 13%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.check-row {
	display: flex;
	align-items: center;
	gap: 16px;
}

.check-box {
	width: 20px;
	height: 20px;
	accent-color: red; // 체크 표시 색상 (브라우저 지원 필수)
	border: 2px solid lightgreen;
	background-color: white;
	cursor: pointer;
}

.check-input {
	flex: 1;
	border: none;
	border-bottom: 2px solid lightgreen;
	outline: none;
	padding: 4px 0;
	font-size: 16px;
}
