@import 'assets/style/_colors.scss';

.form-container {
	width: 100%;
	height: 100%;
	padding: 0 60px;
	margin-top: 13%;
}

.form-title {
	margin-bottom: 40px;
}

.form-input {
	width: 260px;
	padding: 14px 8px;
	margin: 8px auto;
	border: 1px solid $main-color-dark-green;

	&:focus {
		outline: none;
	}
}

.signup-btn {
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 14px 0;
	width: 260px;
	background-color: $main-color-dark-green;
	color: white;
	border: none;
	font-size: 15px;
}

.signup-btn:hover {
	background-color: $main-color-deep-green;
	cursor: pointer;
}

.signup-error {
	color: red;
	font-size: 12px;
	padding-bottom: 20px;
	width: 260px;
	min-height: 20px;
}
